.bg-color-yellow {
    background-color: #FED811;
}

.landingpage {
    position: relative;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1503424886307-b090341d25d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80");
    background-size: cover;

}

.landingpage:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
    color: black;
    font-weight: 500;
}

.relative {
    position: relative;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}

.content {
    padding: 0 60px;
}

.navbar-colors {
    background-color: #e2e2e2;
}

.option-items a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(138, 136, 136);
}

.card {
    transition: 0.3s;
}

.card:hover {
    background-color: rgba(243, 240, 78, 0.3);
    opacity: 0.85;
}

.star {
    filter: invert(87%) sepia(46%) saturate(1227%) hue-rotate(345deg) brightness(101%) contrast(100%);
}

.star img {
    width: 30px;
}